<app-header title="Reminders" isBack="true" class="text-center"></app-header>

<ion-content [fullscreen]="true">


  <div *ngIf="all_reminders.length === 0">
    <p class="no-data">{{no_todo}}</p>
  </div>
  
  <ion-card *ngFor="let item of all_reminders; let i = index" class="ion-margin">
    <ion-card-header>
      
      <ion-card-subtitle>
        {{item.fields.title}}
      </ion-card-subtitle>

    </ion-card-header>

    <ion-card-content>
      <ion-label><ion-icon name="alarm-outline"></ion-icon> {{item.fields.date_created | date:'fullDate'}}</ion-label>
    </ion-card-content>

    <ion-row>
    
      <ion-item button (click)="update(item.id)">
        <ion-icon name="create-outline"></ion-icon>
        <p class="custom-margin">Update</p>
      </ion-item>

      <ion-item button (click)="presentConfirm(item.id, i)">
        <ion-icon name="trash-outline"></ion-icon>
        <p class="custom-margin">Cancel</p>
      </ion-item>

      <ion-item button (click)="starred(item.id, item)">
        <ion-icon name="star" [color]="item ? 'danger' : 'dark'"></ion-icon>
        <p class="custom-margin">Bookmark</p>
      </ion-item>
    </ion-row>

  </ion-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="secondary" (click)="addNewReminder()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>