<app-header title="Profile" isBack="false" class="text-center"></app-header>

<ion-content fullscreen="true" slot="fixed" >
    <div class="card">
      <div class="header">
        <div class="avatar">
          <img src="../../../assets/images/avatar.png" alt="">
        </div>
      </div>
      <div class="card-body">
        <div class="user-meta ion-text-center">
          <h3 class="playername">{{user_data.fullname}}</h3>
          <h5 class="common">{{user_data.email}}</h5>
          <h6 class="">{{user_data.mobile}}</h6>
          <h6 class="ranking">UserName: <ion-chip>
              <ion-label>{{user_data.username}}</ion-label>
            </ion-chip>
          </h6>
        </div>

        <ion-grid fixed class="border-bottom bg-white">
          <ion-row class="ion-no-padding">
            <ion-col size="4">
              <div class="ion-text-center">
                <span class="text-statics-big text-primary">{{total_counts.total_todos}}</span> <br>
                <small>Total Todos</small>
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="ion-text-center">
                <span class="text-statics-big text-primary">{{total_counts.total_bookmark}}</span> <br>
                <small>Total Starred</small>
              </div>
            </ion-col>
            <ion-col size="4">
              <div class="ion-text-center">
                <span class="text-statics-big text-primary">{{total_counts.total_completed_todos}}</span> <br>
                <small>Total Completd</small>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

      </div>
    </div>
</ion-content>