.round {
    --width: 60px;
    --height: 60px;
    --vertical-align: middle;
    --padding-start: 10px;
    --padding-end: 10px;
  }

  .hr {
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
    width: 100%;
  }

  ion-content{
    --background : #F0F4FD;
  
    p{
     font-weight: 300;
    }
  }

  .no-data{
    display: flex; 
    justify-content: center; 
    align-items: center ;
    font-size: 40px;
    color: darkolivegreen;
  }