<app-header title="Completed Todos" class="text-center"></app-header>

<ion-content [fullscreen]="true">
  <ion-toolbar>
    
  </ion-toolbar>

  <div *ngIf="todoList.length === 0">
    <p *ngIf="loader" class="no-data">{{no_todo}}</p>
  </div>

  <ion-card *ngFor="let item of todoList; let i = index" class="ion-margin">
    <ion-card-header>
      
      <ion-card-subtitle [style.color]="item.fields.priority === 'high' ? 'red' : (item.fields.itemPriority === 'low' ? 'green' : 'orange')">
        {{item.fields.category}}
      </ion-card-subtitle>

      <ion-item>
        <ion-icon *ngIf="item.fields.priority === 'high'" color="danger" size="small" name="ellipse"></ion-icon>
        <ion-icon *ngIf="item.fields.priority === 'low'" color="success" size="small" name="ellipse"></ion-icon>
        <ion-icon *ngIf="item.fields.priority === 'middle'" color="warning" size="small" name="ellipse"></ion-icon>
        <ion-label [style.text-decoration]="item.fields.done ? 'line-through' : 'none'"> &nbsp;{{ item.fields.name}}</ion-label>
        <ion-button shape="round" color="dark" class="round" (click)="open(item)">Open</ion-button>
      </ion-item>

    </ion-card-header>

    <ion-card-content>
      <ion-label>Due {{item.fields.due_date | date:'fullDate'}}</ion-label>
    </ion-card-content>
  </ion-card>

  <div *ngIf="!todoList.length>0 && no_todo != 'No Todos'">
    <ion-card *ngFor="let item of [1 ,2, 3 ,4]; let i = index" class="ion-margin">
      <ion-card-header>
        
        <ion-card-subtitle [style.color]="item === 'high' ? 'red' : (item === 'low' ? 'green' : 'orange')">
          <ion-skeleton-text animated>{{item}}</ion-skeleton-text>
        </ion-card-subtitle>
    
        <ion-item>
          <ion-skeleton-text animated>
            <ion-icon *ngIf="item === 'high'" color="danger" size="small" name="ellipse"></ion-icon>
            <ion-label [style.text-decoration]="item ? 'line-through' : 'none'"> &nbsp;{{ item}}</ion-label>
            <ion-button shape="round" color="dark" class="round">Open</ion-button>
          </ion-skeleton-text>
        </ion-item>
    
      </ion-card-header>
    
      <ion-card-content>
        <ion-label><ion-skeleton-text animated>Due </ion-skeleton-text></ion-label>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
